html, body { height: 100%; padding: 0; margin: 0; }
div { width: 50%; height: 50%; float: left; }

#topLeft​{
    background:none;

}
#topRight{
    background:none;
}
#bottomLeft{
    background:none;
}
#bottomRight{
    background:none;
}
